<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/reset.css' />

  </head>
  <body>

  	<header class="header">
      <div class="row">
    		<img src="/images/url.png" class="svg" alt="logo">
    		<h1 class="button_business">Evernote Business</h1>
    		<div class="right_panel">
          <a href="#" class="menu">Menu</a>
          <a href="#" class="download">Download</a>
          <a href="#" class="price">Preço</a>
        </div>
      </div>
    </header>

    <section class="bgmain">
      <div class="bg1"></div>
      <div class="bgcontent">
        <h1>O trabalho <br>da sua vida</h1>
        <p>O que você vai realizar hoje? O Evernote é o espaço de trabalho ideal para fazer o que tem que ser feito.</p>
        <a href="#" class="button_subscribe">Inscrever-se agora</a>
        <div class="entre"><h2>Ou <span class="underline">Entre</span></h2></div>
      </div>
    </section>
    
    <section class="planos">
      <div class="container">
        <div class="row">
          <ul>
            <li>
              <div class="circle_basic"> &nbsp </div>
              <h1 class="basic">Basic</h1>
                <div class="description">
                  <p>As ferramentas que você precisa para se manter organizado em qualquer lugar.</p><br>
                  <a href="#" class="explorar_link_basic">Explorar todos os recursos do Basic</a>
                 </div>
              <p class="gratis">Grátis</p>
              <a href="#" class="button_create_account_basic">Criar Conta</a>
            </li>
            <li class="plus">
              <div class="circle_plus"> &nbsp </div>
              <h1 class="plus">Plus</h1>
                <div class="description">
                  <p>Uploads mensais maiores, acesso offline, mais segurança.</p><br>
                  <a href="#" class="explorar_link_plus">Explorar todos os recursos do Plus</a>
                 </div>
              <p class="gratis">BRL40 &nbsp <span class="small">por ano</span></p>
              <a href="#" class="button_create_account_plus">Obtenha o plus</a>
            </li>
            <li>
              <div class="circle_premium"> &nbsp </div>
              <h1 class="premium">Premium</h1>
                <div class="description">
                  <p>O melhor do Evernote e a escolha para os profissionais mais produtivos.</p><br>
                  <a href="#" class="explorar_link_premium">Explorar todos os recursos do Premium</a>
                 </div>
              <p class="gratis">BRL80 &nbsp <span class="small">por ano</span></p>
              <a href="#" class="button_create_account_premium">Obtenha o premium</a>
              <a href="#" class="button_business2">Premium para negócios</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="home_intro">
      <div class="container">
        <div class="row">
          <h2>Um único espaço de trabalho</h2>
          <div class ="content">
            <h3>ESCREVA</h3>
            <p>De listas curtas a longas pesquisas, não importa qual a forma de sua escrita. O Evernote te ajuda a levar suas idéias da inspiração para a conclusão.</p>
          </div>

          <div class="laptop">
            <img src="https://evernote.com//media/img/home/desktop/icon-write-mac.png">
          </div>
        </div>
      </div>
    </section>
    <section class="colecione">
      <div class="container">
        <div class="row">
          <div class="tablet">
            <img src="https://evernote.com/media/img/home/desktop/icon-collect-mac.png">
          </div>
          <div class="content">
            <h3>Colecione</h3>
            <p>Reúna facilmente tudo o que importa. Capture artigos da web, notas manuscritas e tire fotos para manter os detalhes físicos e digitais de seus projetos com você em todos os momentos.</p>
          </div>
        </div>
      </div>
    </section>
    <section class = "messages">
      <div class="container">
        <div class="row">
          <div class="content">
            <h3>TROQUE MENSAGENS</h3>
            <p>Conecte o seu trabalho com as pessoas que te ajudam a realizá-lo. Comunique-se, colabore e compartilhe em tempo real com qualquer pessoa no mundo, sem ter que sair do Evernote.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="graphs">
      <div class="container">
        <div class="row">
          <div class="imagebg"></div>
          <div class="computer">
            <img src="https://evernote.com/media/img/home/desktop/icon-present-mac.png">
          </div>          
          <div class="content">
            <h3>TROQUE MENSAGENS</h3>
            <p>Conecte o seu trabalho com as pessoas que te ajudam a realizá-lo. Comunique-se, colabore e compartilhe em tempo real com qualquer pessoa no mundo, sem ter que sair do Evernote.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="plataformas">
      <div class="container">
        <div class="row">
          <div class="content">
            <h2>Disponível para tudo o que você usa todos os dias.</h2>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <nav class="footer_nav">
        <ul class="nav_row">
          <li><a href="#">Produtos</a></li>
          <li><a href="#">Preço</a></li>
          <li><a href="#">Market</a></li>
          <li><a href="#">App Center</a></li>
          <li><a href="#">Suporte</a></li>
          <li><a href="#">Blog</a></li>

        </ul>
      </nav>
    </footer>

  </body>
</html>
