<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/reset.css' />

  </head>
  <body>
  	<header class="header">
      <div class="row">
    		<img src="/images/url.png" class="svg" alt="logo">
    		<h1 class="button_business">Evernote Business</h1>
    		<div class="right_panel">
          <a href="#" class="menu">Menu</a>
          <a href="#" class="download">Download</a>
          <a href="#" class="price">Preço</a>
        </div>
      </div>
      <div class="bgmain">
        <div class="bg1"></div>
        <div class="bgcontent">
          <h1>O trabalho <br>da sua vida</h1>
          <p>O que você vai realizar hoje? O Evernote é o espaço de trabalho ideal para fazer o que tem que ser feito.</p>
          <a href="#" class="button_subscribe">Inscrever-se agora</a>
          <div class="entre"><h2>Ou <span class="underline">Entre</span></h2></div>
        </div>
    </div>
    </header>
    <section class="planos">
<h1> teste</h1>
    </section>
  </body>
</html>
